﻿@{ ViewData["Title"] = "Home Page"; }

@section head {
    <style type="text/css">
        body {
            background: url('../images/splash.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Log in to view contacts.</p>
</div>