﻿@{ ViewData["Title"] = "Home Page"; }

@section head {
    <style type="text/css">
        body {
            background: url('../images/contact-us-1900x1200.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
}

<div class="text-center">
</div>